body,h1,h2,h3,h4,h5,h6,p,table,ul,ol,.navbar{
    margin: 0;
}
html{
    overflow-y:scroll ;
}
body{
    visibility: hidden;
}
header{
    height: 50px;
}
footer {
    border-top: 1px solid #e4e4e4;
    font-size: 12px;
    padding: 0 30px;
    background-color: #f2f2f2;
    color: #666
}

footer .cr {
    display: inline-block;
    padding: 10px
}
.navbar-default .navbar-nav>li>a.active{
    color: white;
    background-color: #777;
}

.sharp {
    border-radius: 0;
}

.c-white {
    color: white;
}

.page-content {
    padding: 15px;
}

div[html-editor] {
    box-shadow: 0 0 4px 0 #eee;
    border: 1px solid #eee;
}

.html-editor {
    padding: 15px;
    min-height: 150px;
    max-height: 400px;
    overflow: auto;
    resize: vertical;
    border: 1px solid #eee;
    font-size: 13px;
}

div[html-editor] > .btn-group {
    margin: 5px 0 1px 0;
}

div[html-editor] .btn-group > .btn {
    padding: 4px 8px;
    border: none;
}
div[html-editor] .dropdown-menu {
    min-width:0;
    border-radius: 0;
    padding: 0;
    margin: 0;
}
div[html-editor] .dropdown-menu>li>a{
    padding: 2px 10px;
}
div[html-editor] .head {
    border: 1px solid #eee;
}

div[html-editor] .foot {
    border: 1px solid #eee;
    padding: 4px 10px;
    text-align: right;
    background-color: #f4f4f4;
}

.flip {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.html-preview {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 30px;
    z-index: 10000;
}

.html-preview .frame {
    max-width: 1000px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    /* box-shadow: 0 0 5px 5px #555;*/
}

.html-preview .frame.f {
    max-width: 600px;
}

.html-preview .mt-15 {
    margin-top: 15px;
}

.html-preview .mb-10 {
    margin-bottom: 10px;
}

.html-preview .mb-15 {
    margin-bottom: 15px;
}

.form-control.ng-touched.ng-invalid, .ng-submitted .form-control.ng-invalid, .ng-submitted .html-editor.ng-invalid {
    border-color: #e00;
}
