<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Build Awesome content using <b>Simple</b>, <b>Light weight</b> <span class="c-dsblue">ng-editor</span></h2>
        <br/>

        <div class="alert alert-success">If you are using Angular, Bootstrap ang Jquery in your application. this Editor is made for that combo.</div>
        <br/>

        <label>Why <strong>ng-editor</strong>?</label>
        <ul>
            <li>It is simple</li>
            <li>Light weight</li>
            <li>Used most common libraries bootstrap, jquery and AngularJs</li>
            <li>Providing all major features</li>
            <li>Easy <a ui-sref="installation" ui-sref-active="active">installation</a></li>
        </ul>
        <br/><br/>

        <h4><a ui-sref="demo" ui-sref-active="active">Check out</a> how it works</h4>
    </div>
</div>