<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Quick install</h3><br/>
        <label>Copy & paste the snippet below into your HTML page.</label>

        <div class="well">
            <code>
                    <span>&lt;!DOCTYPE html&gt;</span><br/>
                    <span>&lt;html&gt;</span><br/>
                    <span>&lt;head&gt;</span><br/>

                    <span>&nbsp;&nbsp;<span>&lt;script </span>
                        <span>src=</span><span>"jquery.min.js"</span>
                        <span>&gt;&lt;/script&gt;</span>
                    </span><br/>

                   <span>&nbsp;&nbsp;<span>&lt;script </span>
                        <span>src=</span><span>"bootstrap.min.js"</span>
                        <span>&gt;&lt;/script&gt;</span>
                    </span><br/>

                    <span>&nbsp;&nbsp;<span>&lt;script </span>
                        <span>src=</span><span>"angular.min.js"</span>
                        <span>&gt;&lt;/script&gt;</span>
                    </span><br/>

                    <span>&nbsp;&nbsp;<span>&lt;script </span>
                        <span>src=</span><span>"htmlEditor.min.js"</span>
                        <span>&gt;&lt;/script&gt;</span>
                    </span><br/>

                    <span>&lt;/head&gt;</span><br/>
                    <span>&lt;body&gt;</span><br/>
                    <span>
                        <span>&nbsp;&nbsp;&lt;div html-content="editorData"&gt;</span><span>&lt;/div&gt;</span></span><br/>
                    <span>&lt;/body&gt;</span><br/>
                    <span>&lt;/html&gt;</span><br/>
            </code>
        </div>
    </div>
</div>